 @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark';
    src: url('../fonts/mark_simonson.woff');
    src: url('../fonts/mark_simonson.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark_light';
    src: url('../fonts/mark_simonson_light.woff');
    src: url('../fonts/mark_simonson_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark_black';
    src: url('../fonts/mark_simonson_black.woff');
    src: url('../fonts/mark_simonson_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark_bold';
    src: url('../fonts/mark_simonson_bold.woff');
    src: url('../fonts/mark_simonson_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mark_thin';
    src: url('../fonts/mark_simonson_thin.woff');
    src: url('../fonts/mark_simonson_thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cwb';
    src: url('../fonts/CWB.woff2');
    src: url('../fonts/CWB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
    padding: 0px;
}