{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}
<div class="container">
	<div class='col-sm-8 col-sm-offset-2'>
		
		<h1 class="page-header text-center title-categorias">Dados Cadastrais</h1>
		<form class="form-novo-cliente" method="POST" accept-charset="utf-8">
			{% csrf_token %}

			{{form_cliente.as_p}}

			<br>
			<label></label>
			<input type="submit" class="btn btn-warning btn-edit" name="" value="Salvar Cadastro">
		</form>
	</div>
</div>
{% endblock conteudo%}